<h2> # 파이썬 기본 연산 연습 </h2>

In [ ]:
1+1

In [4]:
a = 2
a

2

In [1]:
b = 2

In [4]:
10/3

3.3333333333333335

In [5]:
10//3

3

In [7]:
10%3

1

In [8]:
10*3

30

In [18]:
number = 123456
split_number = number%10
split_number

6

<h2> # 6자리 숫자를 모두 한 자리씩 분리한 후 분리된 수의 합을 구하여 출력하기 </h2>

In [31]:
number = 123456
split_number = 0
sum = 0

while True:
    tmp_digit = number % 10
    sum = sum + tmp_digit
    number = number // 10
    
    if number == 0:
        break
    pass

sum

21

<h2> # 1~10까지 합을 구해 출력하기 (for 사용) </h2>

In [26]:
sum = 0

for i in range(10):
    sum = sum + (i+1)
    pass

sum

55

<h2> # 1~10까지의 수 중 2의 배수들의 합을 구해 출력하기 (for 사용) </h2>

In [1]:
sum = 0

for i in range(10):
    adder = i+1
    if adder % 2 == 0:
        sum = sum + adder
    pass

sum

30

<h2> # 구구단 2단 출력하기 </h2>

In [87]:
for i in range(9):  # 0~8까지 반복
    step = i+1  # 1~9까지 반복
    print("2 X", step, "=", 2*step)
    pass

print()

for i in range(9):
    step = i+1
    print("2 X {} = {:>2}".format(step, 2*step))  # format 함수 사용
    pass

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18

2 X 1 =  2
2 X 2 =  4
2 X 3 =  6
2 X 4 =  8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18

<h2> # 구구단 2~9단 출력하기 </h2>

In [16]:
for stage in range(2,10):
    for i in range(9):
        step = i+1
        print("{} X {} = {}".format(stage, step, stage*step))
    print()
pass

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27

4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45

6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54

7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63

8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72

9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

In [25]:
for stage in range(2,10):
    for i in range(9):
        step = i+1
        print("{} X {} = {}".format(stage, step, stage*step), end='\t')  # Escpae 문자 \ (ex. \t, \n)
    print()
pass

2 X 1 = 2	2 X 2 = 4	2 X 3 = 6	2 X 4 = 8	2 X 5 = 10	2 X 6 = 12	2 X 7 = 14	2 X 8 = 16	2 X 9 = 18
3 X 1 = 3	3 X 2 = 6	3 X 3 = 9	3 X 4 = 12	3 X 5 = 15	3 X 6 = 18	3 X 7 = 21	3 X 8 = 24	3 X 9 = 27
4 X 1 = 4	4 X 2 = 8	4 X 3 = 12	4 X 4 = 16	4 X 5 = 20	4 X 6 = 24	4 X 7 = 28	4 X 8 = 32	4 X 9 = 36
5 X 1 = 5	5 X 2 = 10	5 X 3 = 15	5 X 4 = 20	5 X 5 = 25	5 X 6 = 30	5 X 7 = 35	5 X 8 = 40	5 X 9 = 45
6 X 1 = 6	6 X 2 = 12	6 X 3 = 18	6 X 4 = 24	6 X 5 = 30	6 X 6 = 36	6 X 7 = 42	6 X 8 = 48	6 X 9 = 54
7 X 1 = 7	7 X 2 = 14	7 X 3 = 21	7 X 4 = 28	7 X 5 = 35	7 X 6 = 42	7 X 7 = 49	7 X 8 = 56	7 X 9 = 63
8 X 1 = 8	8 X 2 = 16	8 X 3 = 24	8 X 4 = 32	8 X 5 = 40	8 X 6 = 48	8 X 7 = 56	8 X 8 = 64	8 X 9 = 72
9 X 1 = 9	9 X 2 = 18	9 X 3 = 27	9 X 4 = 36	9 X 5 = 45	9 X 6 = 54	9 X 7 = 63	9 X 8 = 72	9 X 9 = 81

In [26]:
for step in range(9):
    step = step+1
    for stage in range(8):
        stage = stage+2
        print("{} X {} = {}".format(stage, step, stage*step), end='\t')
    print()
pass

2 X 1 = 2	3 X 1 = 3	4 X 1 = 4	5 X 1 = 5	6 X 1 = 6	7 X 1 = 7	8 X 1 = 8	9 X 1 = 9
2 X 2 = 4	3 X 2 = 6	4 X 2 = 8	5 X 2 = 10	6 X 2 = 12	7 X 2 = 14	8 X 2 = 16	9 X 2 = 18
2 X 3 = 6	3 X 3 = 9	4 X 3 = 12	5 X 3 = 15	6 X 3 = 18	7 X 3 = 21	8 X 3 = 24	9 X 3 = 27
2 X 4 = 8	3 X 4 = 12	4 X 4 = 16	5 X 4 = 20	6 X 4 = 24	7 X 4 = 28	8 X 4 = 32	9 X 4 = 36
2 X 5 = 10	3 X 5 = 15	4 X 5 = 20	5 X 5 = 25	6 X 5 = 30	7 X 5 = 35	8 X 5 = 40	9 X 5 = 45
2 X 6 = 12	3 X 6 = 18	4 X 6 = 24	5 X 6 = 30	6 X 6 = 36	7 X 6 = 42	8 X 6 = 48	9 X 6 = 54
2 X 7 = 14	3 X 7 = 21	4 X 7 = 28	5 X 7 = 35	6 X 7 = 42	7 X 7 = 49	8 X 7 = 56	9 X 7 = 63
2 X 8 = 16	3 X 8 = 24	4 X 8 = 32	5 X 8 = 40	6 X 8 = 48	7 X 8 = 56	8 X 8 = 64	9 X 8 = 72
2 X 9 = 18	3 X 9 = 27	4 X 9 = 36	5 X 9 = 45	6 X 9 = 54	7 X 9 = 63	8 X 9 = 72	9 X 9 = 81

<h2> # 구구단 5단까지만 출력하기 </h2>

In [17]:
for stage in range(2,10):
    for i in range(9):
        step = i+1
        print("{} X {} = {}".format(stage, step, stage*step))
    print()
    if stage==5:
        break
pass

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27

4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45

<h2> # 구구단 3단만 출력하기 </h2>

In [29]:
for stage in range(2,10):
    if stage == 3:
        for i in range(9):
            step = i+1
            print("{} X {} = {}".format(stage, step, stage*step))
    if stage==5:
        break
pass

print()

for stage in range(2,10):
    if stage==2:
        continue
    for i in range(9):
        step = i+1
        print("{} X {} = {}".format(stage, step, stage*step))
    if stage==3:
        break
pass

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27

In [28]:
# 강사님 답안
for stage in range(2,10):
    if stage != 3:
        continue
    for i in range(9):
        step = i+1
        print("{} X {} = {}".format(stage, step, stage*step))
pass

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27

<h2> # n자리 숫자를 하나씩 분리하는 코드를 while문으로 작성 </h2>

In [ ]:
number = 123456
split_number = 0
sum = 0

while True:
    tmp_digit = number % 10
    sum = sum + tmp_digit
    number = number // 10
    
    if number == 0:
        break
    pass

sum

<h2> # 특정 연도가 윤년인지 여부 판별하는 코드 작성 </h2>

In [69]:
year = 2004

if year%4==0 :
    if year%100==0:
        if year%400==0:
            flag = True
        else:
            flag = False
            pass
        pass
    else:
        flag = True
else:
    flag = False
    pass

if flag:
    print("윤년")
else:
    print("평년")

윤년

In [70]:
# 강사님 답안

if year%400==0 or (year%4==0 and year%100!=0):
    print('leap year')
else:
    print('common year')

leap year

In [83]:
for y in range(2020, 2051):
    if y%400==0 or (y%4==0 and y%100!=0):
        print(y, 'is leap year')
#     else:
#         print(y, 'is common year')

2020 is leap year
2024 is leap year
2028 is leap year
2032 is leap year
2036 is leap year
2040 is leap year
2044 is leap year
2048 is leap year

<h2> # score 점수에 따라 학점 계산 </h2>

In [74]:
score = 63

grade = 'F'
if score>=90:
    grade = 'A'
elif score>=80:
    grade = 'B'
elif score>=70:
    grade = 'C'
elif score>=60:
    grade = 'D'
    pass
print(grade)

D

<h2> # 특정 수가 소수인지 판단하여 출력 </h2>

In [81]:
number = 6

# 1부터 number까지 1씩 증가하며 나누어 떨어지는지 확인 > 나누어 떨어지면 count 1 증가
count = 0
for i in range(1, number+1):
    if number%i==0:
        count = count+1
        pass
    pass

# count가 2이면 소수, 아니면 소수 아님
if count==2:
    print('{} is prime number'.format(number))
else:
    print('{} is composite number'.format(number))

6 is composite number

<h2> # 2~10이 소수인지 판단하여 출력 </h2>

In [84]:
for number in range(2,11):
    count = 0
    for i in range(1, number+1):
        if number%i==0:
            count = count+1
            pass
        pass

    # count가 2이면 소수, 아니면 소수 아님
    if count==2:
        print('{} is prime number'.format(number))
#     else:
#         print('{} is composite number'.format(number))

2 is prime number
3 is prime number
5 is prime number
7 is prime number

<h2> # 2019년 달력 만들기 </h2>

In [120]:
month = 11

# 일수(n_days) & 시작 공백(n_space) 계산
## 일수, 시작 공백 초기화
n_days = 0
n_space = 2
## 일수 확정할 때까지 시작 공백값 누적
for j in range(month):   # '0 ~ (month-1)까지 실행'
    tmp_mon = j+1        # '1 ~ month 까지 실행'으로 변환
    n_space = (n_space + n_days)%7

    if tmp_mon == 2:
        n_days = 28
    elif tmp_mon < 8:
        if tmp_mon%2 == 0:
            n_days = 30
        else:
            n_days = 31
    else:
        if tmp_mon%2 == 0:
            n_days = 31
        else:
            n_days = 30
pass

print('2019년 {}월\n'.format(month))
print('일\t월\t화\t수\t목\t금\t토')
print('\t'*n_space, end='')
# 날짜 하나씩 출력하되, 토요일마다 개행
for i in range(n_days):
    day = i+1
    print(day, end='\t')
    if (day + n_space)%7 == 0:
        print()

2019년 11월

일	월	화	수	목	금	토
					1	2
3	4	5	6	7	8	9
10	11	12	13	14	15	16
17	18	19	20	21	22	23
24	25	26	27	28	29	30