<h2> # 1000~1250 사이에서 소수 찾아 출력 </h2>

In [8]:
for num in range(1000, 1251):
    count = 0
    for i in range(num):
        tmp_deno = i+1
        if num%tmp_deno == 0:
            count = count+1
            pass
        pass
    
    if count == 2:
        print(num, end=', ')
        pass
    pass

print('\n are prime numbers')

1009, 1013, 1019, 1021, 1031, 1033, 1039, 1049, 1051, 1061, 1063, 1069, 1087, 1091, 1093, 1097, 1103, 1109, 1117, 1123, 1129, 1151, 1153, 1163, 1171, 1181, 1187, 1193, 1201, 1213, 1217, 1223, 1229, 1231, 1237, 1249,
 are prime numbers

<h2> # 1000~1250 사이에서 소수의 총 갯수 출력 </h2>

In [7]:
result = 0

for num in range(1000, 1251):
    count = 0
    for i in range(num):
        tmp_deno = i+1
        if num%tmp_deno == 0:
            count = count+1
            pass
        pass
    
    if count == 2:
        result = result + 1
        pass
    pass

print('The number of prime numbers is {}'.format(result))  # string formatting using place holder {}

The number of prime numbers is 36

<h2> # 10번째까지의 피보나치 수열 출력 </h2>

In [10]:
# 1번&2번 숫자 할당, tmp_bin 할당
tmp_first = 0
tmp_second = 1
tmp_bin = 0

# 1번, 2번 숫자 출력
print(tmp_first, end=' ')
print(tmp_second, end=' ')

# 아래 작업 10번 반복
for i in range(10):
    ## 2번을 임시로 tmp_bin에 저장, 1번+2번을 2번에 저장, tmp_bin 값을 1번에 저장
    tmp_bin = tmp_second
    tmp_second = tmp_first + tmp_second
    tmp_first = tmp_bin

    ## 2번 숫차 출력
    print(tmp_second, end=' ')

0 1 1 2 3 5 8 13 21 34 55 89

<h2> # 포매팅 연습 </h2>

In [40]:
a=2
b=1
c=9
print(f'{a} * {b} = {a*b}')
print(f'{a} * {c} = {a*c}')

2 * 1 = 2
2 * 9 = 18

<h2> # 문자열 메소드 연습 </h2>

In [46]:
line = '990001, addx, 17, 29, 16, 49, 43, 154, C, A, C'
data = line.split(', ')
line

'990001, addx, 17, 29, 16, 49, 43, 154, C, A, C'

In [50]:
data
data[-1]
data[2]+data[3]
int(data[2]) + int(data[3])

46

In [54]:
data

['990001', 'addx', '17', '29', '16', '49', '43', '154', 'C', 'A', 'C']

In [69]:
data2 = data.copy()
for idx in range(2,8):
    data2[idx] = int(data2[idx])
data2

['990001', 'addx', 17, 29, 16, 49, 43, 154, 'C', 'A', 'C']

<h2> # 리스트 다루기 기초 </h2>

In [81]:
# 리스트 생성
m_list = [1,2,3,4,5]

# 리스트 인덱싱
m_list[0]

1

In [83]:
# 원소 출력
for elem in m_list:
    print(elem, end='\t')

1	2	3	4	5

In [86]:
# 원소 수정
m_list[4] = 50

# 원소 추가
m_list.append(6)

m_list

[1, 2, 3, 4, 50, 6, 6]

In [92]:
# 원소 삭제
del m_list[1]  # 인덱스 기준 삭제
m_list.remove(2)  # 원소값 기준 삭제

m_list

[1, 4, 50, 6, 6]

<h2> # 리스트 내림차순 정렬하기 </h2>

핵심 포인트 : 첫 번째 자리에 대해 정렬하는 한 케이스의 알고리즘 구현한 후, for문으로 일반화

In [107]:
list_a = [23, 87, 1, 92, 34, 54, 20, 19, 3, 90]

# 전체 원소 길이만큼 실행
for idx1 in range( len(list_a)-1 ):
    ## list_a[idx1] 이후 원소의 길이만큼 실행
    for idx2 in range( idx1+1, len(list_a) ):
        ### list_a[idx1]와 list_a[idx2] 비교
        if list_a[idx1] < list_a[idx2]:
            ### 두 원소 교환  (+ tmp_bin 변수 할당해 사용)
            tmp_bin = list_a[idx2]
            list_a[idx2] = list_a[idx1]
            list_a[idx1] = tmp_bin
            pass
        pass
    pass

list_a

[92, 90, 87, 54, 34, 23, 20, 19, 3, 1]

<h2> # 랜덤 패키지 </h2>

In [108]:
import random as rnd

In [117]:
r = rnd.randint(1, 3)  # [1~3] 사이 정수 하나 랜덤 추출
r

2

In [118]:
for i in range(10):
    r2 = rnd.randrange(100)  # [0~100) 사이 정수 랜덤 추출
    print(r2)
    pass

3
52
87
97
38
71
79
14
23
47

In [122]:
# [0~100) 사이 정수 10개 복원추출
list_b = []
for i in range(10):
    r2 = rnd.randrange(100)
    list_b.append(r2)
    pass
list_b

[47, 21, 91, 26, 39, 71, 74, 79, 21, 21]

In [128]:
# 10개 복원추출하되, 중복 제거
list_b = []
for i in range(10):
    r2 = rnd.randrange(100)
    if r2 not in list_b:
        list_b.append(r2)
#     else:
#         print(f'{r2} is redundant')
    pass
list_b

63 is redundant
11 is redundant

[60, 89, 63, 88, 92, 11, 34, 4]

In [131]:
# 10개 비복원 추출
list_b = []
while True:
    r2 = rnd.randrange(100)
    if r2 not in list_b:
        list_b.append(r2)
    else:
        print(f'{r2} is redundant')
        pass
    
    if len(list_b)==10:
        break
        pass
    pass
list_b

65 is redundant
40 is redundant
77 is redundant

[44, 40, 75, 77, 66, 86, 65, 99, 8, 61]

<h2> # 10~99 사이의 hidden 숫자 만들어서 up&down 게임 </h2>

In [138]:
hidden = rnd.randrange(10, 100)

while True:
    tmp_ans = input('please input a number >> ')  # 사용자에게 숫자 입력받기
    tmp_ans = int(tmp_ans)

    if tmp_ans == hidden:
        print('correct!!!')
        break
    elif tmp_ans > hidden:
        print('go down!')
    else:
        print('go up!')

please input a number >> 55
go down!
please input a number >> 32
go down!
please input a number >> 21
go down!
please input a number >> 15
go up!
please input a number >> 18
go up!
please input a number >> 19
correct!

In [142]:
# 기회는 오직 6번
hidden = rnd.randrange(10, 100)

for i in range(6):
    tmp_ans = input('please input a number >> ')  # 사용자에게 숫자 입력받기
    tmp_ans = int(tmp_ans)

    if tmp_ans == hidden:
        print('correct!!!')
        break
    elif tmp_ans > hidden:
        print('go down!')
    else:
        print('go up!')
        pass
    
    if i==5:
        print(f'the answer was {hidden}... bye!')
        pass
    pass

please input a number >> 54
go up!
please input a number >> 72
go up!
please input a number >> 86
go down!
please input a number >> 79
go down!
please input a number >> 75
go up!
please input a number >> 77
go down!
the answer was 76... bye!

<h2> # 함수 만들기 </h2>

In [143]:
def plus(a,b):
    c = a+b
    return c

In [144]:
result = plus(10,20)
result

30

In [147]:
def plus2(a,b=20,c=30):
    return a+b+c

In [150]:
plus2(10,20,30)
plus2(10,20)
plus2(10)

60

In [151]:
plus2(10,c=10)

40

<h2> # 월(month) 입력하면 달력 출력하는 함수 만들기 </h2>

In [157]:
def view_month(month):
    # 일수(n_days) & 시작 공백(n_space) 계산
    ## 일수, 시작 공백 초기화
    n_days = 0
    n_space = 2
    ## 일수 확정할 때까지 시작 공백값 누적
    for j in range(month):   # '0 ~ (month-1)까지 실행'
        tmp_mon = j+1        # '1 ~ month 까지 실행'으로 변환
        n_space = (n_space + n_days)%7

        if tmp_mon == 2:
            n_days = 28
        elif tmp_mon < 8:
            if tmp_mon%2 == 0:
                n_days = 30
            else:
                n_days = 31
        else:
            if tmp_mon%2 == 0:
                n_days = 31
            else:
                n_days = 30
    pass

    print('2019년 {}월\n'.format(month))
    print('일\t월\t화\t수\t목\t금\t토')
    print('\t'*n_space, end='')
    # 날짜 하나씩 출력하되, 토요일마다 개행
    for i in range(n_days):
        day = i+1
        print(day, end='\t')
        if (day + n_space)%7 == 0:
            print()
            pass
        pass
    pass

In [174]:
def view_month_2(month):
    space_list = [2, 5, 5, 1, 3, 6, 1, 4, 0, 2, 5, 0]
    days_list =  [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
    
    n_days = days_list[month-1]
    n_space = space_list[month-1]
    
    print('2019년 {}월\n'.format(month))
    print('일\t월\t화\t수\t목\t금\t토')
    print('\t'*n_space, end='')
    # 날짜 하나씩 출력하되, 토요일마다 개행
    for i in range(n_days):
        day = i+1
        print(day, end='\t')
        if (day + n_space)%7 == 0:
            print()
            pass
        pass
    pass

In [188]:
month = 12
view_month(month)
print('\n\n')
view_month_2(month)

2019년 12월

일	월	화	수	목	금	토
1	2	3	4	5	6	7
8	9	10	11	12	13	14
15	16	17	18	19	20	21
22	23	24	25	26	27	28
29	30	31


2019년 12월

일	월	화	수	목	금	토
1	2	3	4	5	6	7
8	9	10	11	12	13	14
15	16	17	18	19	20	21
22	23	24	25	26	27	28
29	30	31

<h2> # 기존 코드 함수화하기 </h2>

In [193]:
# 구구단 하나 출력
def gugudan(dan):
    for i in range(9):
        step = i+1
        print(f"{dan} X {step} = {dan*step:>2}")
        pass

In [194]:
gugudan(2)

2 X 1 =  2
2 X 2 =  4
2 X 3 =  6
2 X 4 =  8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18

In [225]:
# 지정한 범위의 구구단 모두 출력
def gugudan_range(start, end):
    for dan in range(start, end):
        for i in range(9):
            step = i+1
            print(f"{dan} X {step} = {dan*step:>2}", end='\t')
            pass
        print('\n')
    pass

In [227]:
gugudan_range(3,4)

3 X 1 =  3	3 X 2 =  6	3 X 3 =  9	3 X 4 = 12	3 X 5 = 15	3 X 6 = 18	3 X 7 = 21	3 X 8 = 24	3 X 9 = 27

In [234]:
# 지정한 범위의 구구단 모두 출력하되, 잘못된 케이스 커버 -- 수정 필요
def gugudan_range_2(start, end):
    if start == end:
        end = end+1
        pass
    elif start > end:
        temp = end
        end = start
        start = temp
        pass
    
    for dan in range(start, end):
        for i in range(9):
            step = i+1
            print(f"{dan} X {step} = {dan*step:>2}", end='\t')
            pass
        print('\n')
    pass

In [237]:
gugudan_range_2(3,3)
gugudan_range_2(4,3)

3 X 1 =  3	3 X 2 =  6	3 X 3 =  9	3 X 4 = 12	3 X 5 = 15	3 X 6 = 18	3 X 7 = 21	3 X 8 = 24	3 X 9 = 27

In [238]:
# 소수이면 True 리턴
def is_prime(num):
    count = 0
    result = False
    
    for i in range(1, num+1):
        if num % i == 0:
            count = count + 1
            pass
        pass

    if count == 2:
        result = True
        pass
    
    return result

In [239]:
print(is_prime(5))
is_prime(6)

True

False

In [197]:
# 윤년이면 True 리턴
def is_leapyear(year):
    if year%400==0 or (year%4==0 and year%100!=0):
        result = True
    else:
        result = False
        pass
    return result

In [199]:
print(is_leapyear(2000))
is_leapyear(2100)

True

False

In [213]:
# n번째까지 피보나치 수열 출력
def view_Fibonacci(order):
    tmp_first = 0
    tmp_second = 1
    print(tmp_first, tmp_second, end=' ')
    
    for i in range(order):
        tmp_bin = tmp_second
        tmp_second = tmp_first + tmp_second
        tmp_first = tmp_bin

        print(tmp_second, end=' ')

In [214]:
view_Fibonacci(10)

0 1 1 2 3 5 8 13 21 34 55 89

In [208]:
# 리스트 정렬해 리턴
def sorted_list(list1):
    list_a = list1.copy()
    for idx1 in range( len(list_a)-1 ):
    ## list_a[idx1] 이후 원소의 길이만큼 실행
        for idx2 in range( idx1+1, len(list_a) ):
        ### list_a[idx1]와 list_a[idx2] 비교
            if list_a[idx1] < list_a[idx2]:
                ### 두 원소 교환  (+ tmp_bin 변수 할당해 사용)
                tmp_bin = list_a[idx2]
                list_a[idx2] = list_a[idx1]
                list_a[idx1] = tmp_bin
                pass
            pass
        pass
    return list_a

In [210]:
tmp_list = [23, 87, 1, 92, 34, 54, 20, 19, 3, 90]
sorted_list(tmp_list)

[23, 87, 1, 92, 34, 54, 20, 19, 3, 90]

<h2> #  </h2>

<h2> #  </h2>

<h2> #  </h2>

<h2> #  </h2>

<h2> #  </h2>

<h2> #  </h2>

<h2> #  </h2>

<h2> #  </h2>